# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.prod
.env.docker

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# database
database/prices.db
database/res.json
database/logs
database/prices.db-journal
database/database_dump.sql
database/modified_database_dump.sql
database/dumps/

# aws
aws/

# terraform
#  Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# terragrunt
.terragrunt-cache/
*_generated.tf