:root {
    --lightblue: rgb(100, 177, 255);
    --lightgrey: rgb(98, 98, 101);
    --darkgrey: rgb(28, 28, 28);
    --bluegrey: rgb(27, 36, 44);
    --top-navbar-spacing: 6rem;
}

body {
    background-color: black !important;
    color: white !important;
}

h1 {
    font-size: 2rem;
    color: var(--lightblue) !important;
}

/* Home styles */

a.home-links {
    font-size: 1.2rem;
    color: var(--lightblue) !important;
}

/* Layout and navbar styles */

.responsive-navbar {
    background-color: black !important;
}

.navbar-toggler {
    background-color: rgb(232, 232, 232);
}

.navbar-brand-container {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.layout-grid {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
}

.top-components-container {
    grid-column: 2 / 3;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: flex-end;
}

.responsive-navbar-active {
    color: var(--lightblue) !important;
    width: 100%;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.responsive-navbar-active:hover {
    color: rgb(152, 204, 255) !important;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.responsive-navbar-inactive {
    color: white !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.responsive-navbar-inactive:hover {
    border-radius: 5px;
    color: var(--lightblue) !important;
    background-color: rgb(59, 59, 59);
    transition: color 0.3s ease;
}

.responsive-navbar-nav-link {
    margin-bottom: 0.5rem;
}

.flex-half {
    width: 50%;
}

/* Generic page styles */

.container-top-margin {
    margin-top: 2rem;
    max-width: 100%;
}

.home-container-top-margin {
    margin-top: 6.5rem;
    max-width: 100%;
}

.main-container {
    background-color: var(--darkgrey);
    border: 1px solid var(--lightgrey);
    padding: 4rem;
}

/* Auction page styles */

.auction-item-img-border {
    border: 2px solid rgb(170, 169, 169);
    border-radius: 5px;
}

.auction-item-details-container {
    border: 2px solid rgb(170, 169, 169);
    border-radius: 5px;
    background-color: var(--bluegrey);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-shrink: 0;
    text-align: start;
}

.faction-picker {
    width: 30%;
}

.item-card {
    border: solid 1px var(--lightgrey);
    border-radius: 5px;
    background-color: rgb(41, 40, 40);
    cursor: grab;
}

.dropdown-toggle {
    color: white;
    margin-right: 1rem;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu.show {
    background-color: rgb(232, 232, 232);
}

.dropdown-item:active {
    background-color: var(--lightblue);
}

.tooltip-inner {
    background-color: transparent !important;
}

.realm-picker {
    min-width: 40% !important;
}

.item-picker {
    margin-top: 2rem;
    max-width: 40% !important;
    margin-bottom: 4rem;
}

.no-items-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    border: dashed 2px var(--lightgrey);
    background-color: var(--bluegrey);
    color: white;
    max-width: 50%;
    border-radius: 5px;
    margin-top: 3rem;
}

.no-items-placeholder:hover {
    border: dashed 2px rgb(155, 155, 155);
}

.no-items-placeholder:active {
    border: dashed 2px var(--lightblue);
}

.graph-modal .modal-content {
    background-color: var(--bluegrey);
    color: white;
}

.auction-item-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    max-width: 40% !important;
}

.auction-item-details-margin {
    margin-left: 3.55rem;
}
.auction-item-details-fixed-width {
    width: 11rem;
    margin-top: 1rem;
}

/* General react select styles */

.react-select__picker-indicator {
    background-color: var(--darkgrey);
}

.react-select__dropdown-indicator {
    background-color: var(--darkgrey);
}

.react-select__dropdown-indicator svg {
    color: var(--lightblue);
}

.react-select__dropdown-indicator:hover svg {
    color: white;
}

.react-select__clear-indicator svg {
    color: var(--lightblue);
}

.react-select__clear-indicator:hover svg {
    color: white;
}

.react-select__indicator-separator {
    background-color: var(--darkgrey) !important;
    color: black !important;
}

.class-picker > react-select__indicator-separator {
    background-color: white !important;
    color: white !important;
}

.react-select__indicator-container {
    background-color: var(--darkgrey) !important;
}

.react-select__loading-indicator {
    background-color: var(--darkgrey) !important;
    border: 0px solid black !important;
}

.react-select__indicators {
    background-color: var(--darkgrey) !important;
}

.react-select__control {
    border: 2px solid var(--lightgrey) !important;
    background-color: var(--darkgrey) !important;
}

.react-select__control--is-focused {
    border: 2px solid var(--lightblue) !important;
}

.react-select__value-container {
    background-color: var(--darkgrey) !important;
    color: white !important;
}

.react-select__input {
    color: white !important;
}

.react-select__placeholder {
    color: white !important;
}

.react-select__single-value {
    color: white !important;
}

.react-select__menu-notice--loading {
    color: white !important;
}

.react-select__menu-notice--no-options {
    color: white !important;
}

.react-select__option--is-selected {
    background-color: var(--bluegrey) !important;
}

.react-select__option--is-focused {
    background-color: var(--bluegrey) !important;
}

.react-select__menu {
    background-color: white !important;
}

.react-select__menu-list {
    background-color: var(--darkgrey) !important;
    color: white !important;
}

.react-select__indicator {
    padding-left: 0 !important;
}

/* Ranking styles */

.page-button {
    background-color: var(--bluegrey);
    border: none;
}

.page-button:hover {
    background-color: var(--bluegrey);
    border: none;
    color: var(--lightblue);
}

.page-button:disabled {
    background-color: var(--bluegrey);
    border: none;
}

.rankings-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rankings-picker-table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.rankings-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: var(--bluegrey);
    border-bottom: 2px solid rgb(51, 51, 51);
}

.rankings-table th,
.rankings-table td {
    border-top: 2px solid var(--lightgrey);
    border-bottom: 2px solid var(--lightgrey);
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.rankings-table th:first-child {
    border-right: 2px solid var(--lightgrey);
    border-bottom: 2px solid white;
}

.rankings-table th:last-child {
    border-right: 2px solid var(--lightgrey);
    border-bottom: 2px solid white;
}

.rankings-table td:first-child {
    border-right: 2px solid var(--lightgrey);
    border-bottom: none;
}

.rankings-table td:last-child {
    border-right: 2px solid var(--darkgrey);
    border-bottom: none;
}

.rankings-table th:last-child tr:last-child {
    border-right: none;
    border-bottom: 2px solid var(--lightgrey);
}

.rankings-table-container {
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
    width: 70%;
    background-color: var(--bluegrey);
}

.rankings-pagination {
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.spinner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.graph-tooltip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: flex-start;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: var(--darkgrey);
    color: white;
    border: 2px solid rgb(170, 169, 169);
}

.form-check-input:checked {
    background-color: var(--lightblue);
}

.table-spec-icon {
    margin-left: 3rem;
}

.circular-icon {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.item-icon-sm {
    width: 24px !important;
    height: 24px !important;
    object-fit: cover !important;
    border: 1px solid rgb(66, 66, 66);
}

.ranking-page-loading-modal .modal-content {
    background-color: var(--darkgrey);
    color: white;
}

.modal.fade .modal-dialog {
    transition: opacity 0.5s ease-in-out !important;
    transform: none !important;
}

.modal.show .modal-dialog {
    opacity: 1;
}

.modal-dialog {
    opacity: 0;
}

/* Scrollbar for Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--lightgrey);
}

::-webkit-scrollbar-thumb {
    background: var(--darkgrey);
    border-radius: 6px;
}

/* Scrollbar for Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--lightgrey) var(--darkgrey);
}

@media (min-width: 1399px) {
    .auction-core-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .layout-grid {
        display: grid;
        grid-template-columns: minmax(250px, 250px) auto minmax(250px, 250px);
        height: 100vh;
        margin-left: var(--top-navbar-spacing);
        margin-right: var(--top-navbar-spacing);
    }

    .main-content-container {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .content-wrapper {
        padding: 1rem;
    }

    .content-wrapper {
        padding-left: var(--top-navbar-spacing);
        padding-right: var(--top-navbar-spacing);
    }

    .navbar.responsive-navbar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 250px;
        align-items: flex-start;
        text-align: start;
        justify-content: flex-start;
    }

    .container.navbar-container {
        flex-direction: column;
        height: 100%;
    }

    .navbar-collapse.responsive-navbar-collapse {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
    }

    .navbar-brand-container {
        width: 100%;
    }

    .navbar-brand {
        justify-content: center;
        margin: 0;
    }
}

@media (max-width: 1399px) {
    .layout-grid {
        display: block;
    }

    .navbar-brand-container {
        margin: 0;
    }

    .top-navbar-container {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .main-content-container {
        margin-top: 60px;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand-container {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
    }

    .navbar-container {
        margin-left: var(--top-navbar-spacing) !important;
        margin-right: var(--top-navbar-spacing) !important;
    }

    .content-wrapper {
        padding-left: var(--top-navbar-spacing);
        padding-right: var(--top-navbar-spacing);
    }

    .auction-core-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }
}
